
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .footer {
    
   
    height: 100px;
background-color: cadetblue;

  }

  .cp{

    text-align: center;
font-family: sans-serif;
  }

 .oldal {
  height: 980px;
  width: 1920px;
 }